footer{
  width: 100%;
  height: 50px;
  .inner{
    width: 100%;
    height: 50px;
    background-color: $white;
    .copyright{
      font-size: .5em;
      text-align: center;
      padding: 19px 0;
      a{
        color: #fff;
        background: #bdbdbd;
        padding: 0 5px;
        border-radius: 2px;
      }
    }
  }
}